<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section >
        <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="mycard mt-2 ">

                <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
                   <p class="text-center" th:text="${session.message.content}"></p>
                   <th:block th:remove="all"></th:block>
                   <!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block> -->

                  </div>

                <div class="container text-center">
                <img class="" style="width: 80px;" th:src="@{/images/membership.png}">
                </div>
               <h1 class="container text-center"> Register Here !!</h1>
                <form action="" th:action="@{/do_register}" method="post" th:object="${user}">
                    
                    
                     <div class="form-group">
                        <label for="name" class="form-label">Your Name</label>
                        <input name="name" type="text" class="form-control i" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}" id="name" aria-describedby="emailHelp" placeholder="Enter your name" th:value="${user.name}"
                        >

                        <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
                         
                        </div>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      </div>

                      <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter here" th:value="${user.email}" required>
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      </div>

                      <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter here" required>
                        </div>

                      
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                      

                      <!-- user about field -->
                      <div class="form-group mt-2">
                       <textarea  placeholder="Enter somthing about yourself" name="about" rows="8" class="form-control" th:text="${user.about}"></textarea>

                      </div>

                      <div class="form-group form-check">
                           
                        <input type="checkbox" name="agreement" class="form-check-input" id="agreement" aria-describedby="emailHelp" >
                        <label for="agreement" class="form-label">Accept terms and conditions</label>
                        </div>

                      <div class="container text-center mt-2" >
                        <button type="submit"  class="btn bg-primary text-white ">Submit</button>
                        <button type="reset" class="btn bg-primary text-white">Reset</button>
                       </div>
                    
                </form>
            </div>
        
    </div>
    </div>
</section>
</body>
</html>